.game-tag{
    background-position: -12px -6px;
    padding: 0;
}

.table-header {
    display: flex;
    width: -webkit-fill-available;
    height: 30%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    padding: 0 30px;
    color: white;
    font-size: 1.5em;
}

.card-details {
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #2A2A47;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 0;
    justify-content: space-between;
}

.hot-icon{
    background-image: url(../assets/pictures/gameIlus/fire.png);
    position: relative;
    height: 80%;
    width: 30%;
    background-repeat: no-repeat;
    justify-self: flex-end;
}

.table-card {
    width: 30%;
    height: 100%;
    max-width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.table-data {
    color: white;
    font-size: 1rem;
    margin-top: 4%;
}

.table-data > * {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 2em;
}
.reference {
    margin: 10px 1.6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.reference > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    min-width: 8em;
}

.reference > * > *{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    min-width: 50px;
    margin: 0 5px;
}

.titleStyle {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.banker-list-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 17vh;
    background-color: #373758;
    padding: 8px 20px 40px 8px;
    margin-right: 5px;
    border-radius: 10px;
}

.banker-list-wrapper .scroll-thumb{
    height: 40%;
    margin-left: -4px;
    background-color: rgb(255 255 255);
}
.banker-list-wrapper .scroll-bar {
    width: 1px;
    right: -15%;
}


.banker-wrapper{
    overflow: scroll;
    margin-right: 10px;
}

.banker-rows{
    font-size: 0.8em;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    width: -webkit-fill-available;
}

.bet-wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

.banker-list-wrapper::-webkit-scrollbar {display:none;}
.banker-wrapper::-webkit-scrollbar {display:none;}