.nav_buttons{
    background-color: #292B44;
    color: white;
    border-color: white;
    border-radius: 10px;
    width: 32%;
    font-family: 'Montserrat';
    font-size: 0.85em;
    font-weight: 600;
}

.mat-stroked-button {
    border: 1px solid currentColor;
    padding: 0 15px;
    line-height: 34px;
}