td{
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.51);
    font-size: 0.8em;
}

th{
    padding: 40px 20px;
    color:white;
}

table{
    border-spacing: 0px;
}

.light-col{
    background-color: #353552;
}